<br />
<h1>Learn about me!</h1>
<hr /> <!--This makes a line across the page-->

<br />
<h2>Education</h2>
<br />

<div class="align-self-sm-center">
    <img class="w-10 h-auto rounded mx-auto d-block"
         src="~/images/campus.jpg" alt="Image of UT campus" title="UT Campus" style="max-width = 100%">
</div>

<br />
<p>I am a junior at The University of Texas at Austin, double majoring in Canfield Business Honors and Management Information Systems and getting an Elements of Computing certificate. Some courses that I have taken or are currently taking include:
    <ul>
        <li>Elements of Software Design</li>
        <li>Strategic Information Technology Management</li>
        <li>Web Application Development</li>
        <li>Predictive Analytic Data Mining</li>
        <li>Business System Development</li>
        <li>Database Management</li>
        <li>Statistics and Modeling</li>
        <li>Innovation and Entrepreneurship</li>
        <li>Psychology of Advertising</li>
    </ul>
    <br />
</p>
<hr />

<br />
<h2>Extracurricular Involvement</h2>
<br />

<p>Aside from classes, I am involved with three student organizations:</p>
<dl>
    <dt><a href="https://www.texasaacm.com/">Asian American Campus Ministry (AACM)</a></dt>
    <dd>  - We desire to see Christ followers developed and the Asian American communities at UT Austin transformed.</dd>
    <dd>  - Fall 2022 Role: Executive Gathering Coordinator</dd>
    <p></p>
    <dt><a href="https://www.txconvergent.org/">Convergent</a></dt>
    <dd>  - Enabling innovation at the intersection of technology, business, and design.</dd>
    <dd>  - Spring 2023 Role: Education Technology Product Manager</dd>
    <dd>  - Fall 2022 Role: Forge Startup (Vlogmi) Product Manager</dd>
    <dd>  - Spring 2022 Role: eCommerce User Experience Product Manager</dd>
    <p></p>
    <dt><a href="https://www.texasabsa.org/">Asian Business Students Association (ABSA)</a></dt>
    <dd>  - Develop Asian Americans as successful leaders in the professional world.</dd>
    <dd>  - Fall/Spring 2022 Role: Minions Fam Big</dd>
    <dd>  - Fall/Spring 2020 Role: Creative Director</dd>

</dl>
<br />
<hr />

<br />
<h2>Strengths</h2>
<br />

<p>
    My top five strengths according to the CliftonStrengths analysis by Gallup are as follows:
    <ol style="padding-left:1em">
        <li>Restorative</li>
        People exceptionally talented in the Restorative theme are adept at dealing with problems. They are good at figuring out what is wrong and resolving it. Exhibits a growth-oriented mindset.
        <li>Strategic</li>
        People exceptionally talented in the Strategic theme create alternative ways to proceed. Faced with any given scenario, they can quickly spot the relevant patterns and issues.
        <li>Individualization</li>
        People exceptionally talented in the Individualization theme are intrigued with the unique qualities of each person. They have a gift for figuring out how different people can work together productively.
        <li>Competition</li>
        People exceptionally talented in the Competition theme measure their progress against the performance of others. They strive to win first place and revel in contests.
        <li>Command</li>
        People exceptionally talented in the Competition theme measure their progress against the performance of others. They strive to win first place and revel in contests.
    </ol>
    <br />
</p>
