
<br />
<h1>Design Portfolio</h1>
<hr />
<br />

<body>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/vevo.jpg" target="_blank">
                    <img src="~/images/vevo.jpg" alt="Journey to the Top ABSA publicity" title="Journey to the Top ABSA publicity" style="width:100%">
                    <div class="caption">
                        <p>ABSA 2020 Journey to the Top</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/mte.png" target="_blank">
                    <img src="~/images/mte.png" alt="Make the Escape ABSA publicity" title="Make the Escape ABSA publicity" style="width:100%">
                    <div class="caption">
                        <p>ABSA 2020 Make the Escape</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/reprever.png" target="_blank">
                    <img src="~/images/reprever.png" alt="Rep Reversal Shark Tank ABSA publicity" title="Rep Reversal Shark Tank ABSA publicity" style="width:100%">
                    <div class="caption">
                        <p>ABSA 2020 Rep Reversal</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

     <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/elevenOFFICIAL.png"target="_blank">
                    <img src="~/images/elevenOFFICIAL.png" alt="Frisco Wakeland High School MarchingDuck publicity" title="Frisco Wakeland High School MarchingDuck publicity" style="width:100%">
                    <div class="caption">
                        <p>Frisco Wakeland High School "Eleven" MarchingDuck</p>
                     </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/rainOFFICIAL.jpg" target="_blank">
                     <img src="~/images/rainOFFICIAL.jpg" alt="Frisco Lebanon Trail High School MarchingDuck publicity" title="Frisco Lebanon Trail High School MarchingDuck publicity" style="width:100%">
                     <div class="caption">
                         <p>Frisco Lebanon Trail High School "Rain" MarchingDuck</p>
                    </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/gold.jpg" target="_blank">
                    <img src="~/images/gold.jpg" alt="MarchingDucks Worth It's Weight In Gold campaign publicity" title="MarchingDucks Worth It's Weight In Gold campaign publicity" style="width:100%">
                    <div class="caption">
                         <p>MarchingDucks "Worth It's Weight In Gold" campaign</p>
                     </div>
                </a>
            </div>
         </div>

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/lunar2.png" target="_blank">
                    <img src="~/images/lunar2.png" alt="Chinese New Year sticker pack" title="Chinese New Year sticker pack" style="width:100%">
                    <div class="caption">
                        <p>StoribookCo Chinese New Year promotion</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/storibooktshirt.png" target="_blank">
                    <img src="~/images/storibooktshirt.png" alt="StoribookCo Tshirt Mockup" title="StoribookCo Tshirt Mockup" style="width:100%">
                    <div class="caption">
                        <p>StoribookCo t-shirt and stickerpack giveaway mockup</p>
                    </div>
                </a>
            </div>
        </div>
</body>