<br />
<h1>Fun Facts About Me</h1>
<hr /> <!--This makes a line across the page-->

<div class="card">
    <h4 class="card-header">Top 5 Fast Food Restaurants</h4>
    <div class="card-body bg-gradient-danger">
        <p class="card-text">
            <ol>
                <li>Chick-Fil-A</li>
                <p>An instant classic. From delicious chicken sandwiches to iconic waffle fries, you cannot go wrong with Chick-Fil-A. This fast food chain has saved me more times than I could count when I am too lazy to cook. 10/10</p>
                <li>Canes</li>
                <p>Canes sauce. Enough said.</p>
                <li>Chiptole</li>
                <p>This is the restaurant that I eat at to "convince" myself that I am eating healthy and are getting all of my calories I need for the day. I know. I'm delusional, but at least the food is delicious. I usually get the bowl with brown rice, chicken, pinto beans, lettuce, and tomatillo-green chili salsa</p>
                <li>Mcdonalds</li>
                <p>Yes, I've watched Super Size Me before. It's just that sometimes all you want at 2 pm after a long day of school are some classic McDonalds fries and 10 piece McNugget.</p>
                <li>Taco Bell</li>
                <p>In all honesty, I don't even like Taco Bell that much. However, I used to go with my high school friends to Taco Bell every other day after school. So, Taco Bell is on the list for nostalgia and good vibes.</p>
            </ol>
        </p>
    </div>
</div>

<br />

<div class="card">
    <h4 class="card-header">Favorite Movies/TV Shows</h4>
    <div class="card-body bg-gradient-danger">
        <p class="card-text">
            <ul>
                <li>(Movie) Avengers: Infinity War</li>
                <li>(Movie) The Dark Knight</li>
                <li>(Movie) Marriage Story</li>
                <li>(Movie) Lilo and Stitch</li>
                <li>(Movie) BlacKkKlansman</li>
                <li>(Movie) Saving Private Ryan</li>
                <li>(TV Show) The Boys</li>
                <li>(TV Show) Twilight Zone</li>
                <li>(TV Show) Marvel's Daredevil</li>
            </ul>
        </p>
    </div>
</div>

<br />

<div class="card">
    <h4 class="card-header">Top 3 Icecream Flavors</h4>
    <div class="card-body bg-gradient-danger">
        <p class="card-text">
            <ol>
                <li>Chocolate</li>
                <li>Cookies and Cream</li>
                <li>Coffee</li>
            </ol>
        </p>
    </div>
</div>

<br />
