<br />
<h1>Visit some of my projects</h1>
<hr />

<br />
<div class="card text-white bg-dark mb-3">
    <h4 class="card-header">StoribookCo</h4>
    <div class="card-body bg-gradient-danger">
        <p class="card-text">
            StoribookCo is a eCommerce design and printing business that aims to build a platform of artists with differing art styles and offer a wide selection of products. StoribookCo is currently in its infancy stages, selling only kawaii art and stickers on Etsy. However, more artists and an interactive storefront are coming soon!</p>
        <p class="card-text">
            <a href="https://www.etsy.com/shop/StoribookFriends" target="_blank" class="btn btn-secondary align-content-center">Shop Now</a>
        </p>
    </div>
</div>

<br />
<div class="card text-white bg-dark mb-3">
    <h4 class="card-header">ShopStack</h4>
    <div class="card-body bg-gradient-danger">
        <p class="card-text">
            For my personal project, I am working on an eCommerce Chrome extension that helps users to organize their online shopping experience. Click learn more to visit my wireframe.
        </p>
        <p class="card-text">
            <a href="https://marvelapp.com/prototype/idajjfb" target="_blank" class="btn btn-secondary align-content-center">Learn More</a>
        </p>
    </div>
</div>

<br />
<div class="card text-white bg-dark mb-3">
    <h4 class="card-header">Fracto</h4>
    <div class="card-body bg-gradient-danger">
        <p class="card-text">
            As part of my Spring 2022 Convergent project, my team and I created a minimium viable product of a fractionalized non-fungible token marketplace. Below is our basic demonstration video.
        </p>
        <p class="card-text">
            <video autoplay loop>
                <source src="~/videos/FractoDemo.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </p>
    </div>
</div>
<br />